<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="EmailComposer"
      version="0.2.3">
    <name>EmailComposer</name>
    <description>EmailComposer Plugin</description>
    <license>Apache 2.0</license>
    <keywords>EmailComposer</keywords>


    <js-module src="www/EmailComposer.js" name="EmailComposer">
        <clobbers target="navigator.EmailComposer" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="EmailComposer">
			    <param name="ios-package" value="EmailComposer"/>
			    <param name="onload" value="true"/>
		    </feature>
        </config-file>

	    <header-file src="src/ios/EmailComposer.h" />
	    <source-file src="src/ios/EmailComposer.m" />
	    
    </platform>


</plugin>
